body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.nav-bg {
    background-color: rgb(0, 174, 255)
}
/* space-between */
.container {
    width: 700px;
    margin: 0 auto;
}
.header-principal a{
    
    text-decoration: none;
}